%footer
  .col-lg-12.footer
    %ul.nav.nav-pills{:style=> 'display: inline-block;'}
      %li
        ="3funkymonkeys &copy; #{Time.now.year}"
      %li
        %a{href: "http://threefunkymonkeys.com/"}= I18n.t('.layout.footer.about_us')
      %li
        %a{href: "/terms"}= I18n.t('.layout.footer.terms')
      %li
        %a{href: "/privacy"}= I18n.t('.layout.footer.privacy')
      %li
        %a{href: "/contact"}= I18n.t('.layout.footer.contact')
  .clearfix

- if ENV['INCLUDE_ANALYTICS'] && ENV['INCLUDE_ANALYTICS'] == 'true'
  %script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '#{ENV['ANALYTICS_CODE']}', 'auto');
    ga('send', 'pageview');
