%h3.title= ::I18n.t('.chists.your_chists')

-chists.each do |chist|
  .row
    .panel.panel-primary.chist-panel
      .panel-heading

        %h3.panel-title
          %a.col-md-4{href: "/chists/#{chist.id}"}=chist.title

          .actions
            %form.fav-form{ action: "/chists/#{chist.id}/favorite", method: "POST", :'data-remote' => 'true' }
              %input{ type: "hidden", name: "_method", value: "PUT" }
              %button.fav-button.btn.btn-info.btn-xs{ type: "submit" }
                %span.fav-icon.glyphicon.glyphicon-star{ :class => current_user.favorited?(chist) ? 'favorited' : 'no-favorited'}
                Favorite
            %a.btn.btn-success.btn-xs{href: "/chists/#{chist.id}/edit"}=I18n.t('chists.edit')
            %form{method: 'post', action: "/chists/#{chist.id}"}
              %input{type: 'hidden', name: '_method', value: 'DELETE'}
              %input.btn.btn-danger.btn-xs{type: 'submit', value: I18n.t('chists.delete')}

      .panel-body.chist-preview
        = partial("chists/_chist", :chist => chist, :short => true)
