%h3.title.your
  = ::I18n.t('.chists.your_chists')
  %span=::I18n.t('.chists.chist')
-chists.each do |chist|
  .row.your-chists
    .panel.panel-primary.chist-panel
      .panel-heading
        .action-del
          - if chist.user_id == current_user.id
            %form.del-for{method: 'post', action: "/chists/#{chist.id}"}
              %input{type: 'hidden', name: '_method', value: 'DELETE'}
              %input.btn.delete-button{type: 'submit', value: ''}
        .action-fav
          %form.fav-form{ action: "/chists/#{chist.id}/favorite", method: "POST", :'data-remote' => 'true' }
            %input{ type: "hidden", name: "_method", value: "PUT" }
            %button.btn.fav-button{ type: "submit", :class => current_user.favorited?(chist) ? 'favorited' : 'no-favorited'}
        %h3.panel-title
          - if chist.user_id == current_user.id
            %a{href: "/chists/#{chist.id}"}=chist.title
          - else
            %a{href: "/chists/#{chist.id}"}="#{chist.user.name}/#{chist.title}"
      .panel-body{ :class => chist.public == true ? 'public' : 'private'}
        = partial("chists/_chist", :chist => chist, :short => true)

- unless chists.any?
  %p=I18n.t('.dashboard.no_chists')
  %a.btn.btn-primary{href: "/chists/new"}=I18n.t('chists.new')

