%h3.title.new
  = ::I18n.t('.chists.new')
  %span=::I18n.t('.chists.chist')
%form.form-horizontal{action: '/chists', method: 'post'}
  %fieldset
    = partial 'chists/_form', params: params
    .col-md-12.bottom-bar
      %span.lines
        0 Lines
      .actions
        %input.btn-cancel{type: 'button', title: I18n.t('chists.cancel')}
        %input.btn-confirm{type: 'submit', title: I18n.t('chists.create'), value: ''}
.chist-bottom-bar
  %ul#latest-chists
    - chists.each do |chist|
      %li
        .chist-data{:class => (chist.public) ? 'public' : 'private'}
          %a{ href: "/chists/#{chist.id}"}= chist.title.length > 20 ? chist.title[0..17] + "..." : chist.title
          .timestamp= chist.created_at.strftime("%d-%m-%y")
          .timestamp= chist.created_at.strftime("%H:%M")