- if chist.public
  %h3.title.show-public
    = "#{chist.user.name} | "
    %span="#{chist.title}"
- else
  %h3.title.show-private
    = "#{chist.user.name} | "
    %span="#{chist.title}"

.chist-show
  .chist-show-actions
    - if current_user.id == chist.user_id
      %a.btn-edit{href: "/chists/#{chist.id}/edit"}
    %form.fav-form.form-horizontal#favorite-wrapper.pull-right{ action: "/chists/#{chist.id}/favorite", method: "POST", :'data-remote' => 'true' }
      %input{ type: "hidden", name: "_method", value: "PUT" }
      %button.btn-fav{ type: "submit"}
    - if current_user.id == chist.user_id
      %form.del-for{action: "/chists/#{chist.id}", id: "delete-chist-form", method: 'POST'}
        %button.btn-delete{type: 'submit'}
        %input{type: 'hidden', name: '_method', value: 'DELETE'}
  .row.your-chists
    .panel.panel-primary.chist-panel
      .panel-heading
        .action-fav
          %form.fav-form{ action: "/chists/#{chist.id}/favorite", method: "POST", :'data-remote' => 'true' }
            %input{ type: "hidden", name: "_method", value: "PUT" }
            %button.btn.fav-button{ type: "submit", :class => current_user.favorited?(chist) ? 'favorited' : 'no-favorited'}
        %h3.panel-title
          - if chist.user_id == current_user.id
            %a.col-md-4{href: "/chists/#{chist.id}"}=chist.title
          - else
            %a.col-md-4{href: "/chists/#{chist.id}"}="#{chist.user.name}/#{chist.title}"
      .panel-body
        = partial("chists/_chist", :chist => chist, :short => true)
  .row.your-chists
    .col-md-12.bottom-bar
      %span.lines
        =chist.chist_raw.lines.count
        Lines
      .actions
        %button.btn-share{type: 'button', title: "#{ENV['SITE_URL']}/chists/#{chist.id}", :'data-toggle' => 'tooltip', :'data-placement' => 'bottom', :'title' => 'Copy URL to clipboard'}
        %a.btn.btn-download{ href: "/chists/#{chist.id}/raw", :'target' => '_blank', :'data-toggle' => 'tooltip', :'data-placement' => 'bottom', :'title' => 'Download'}

.chist-bottom-bar
  %ul#latest-chists
    - chists.each do |chist|
      %li
        .chist-data{:class => (chist.public) ? 'public' : 'private'}
          %a{ href: "/chists/#{chist.id}"}= chist.title.length > 20 ? chist.title[0..17] + "..." : chist.title
          .timestamp= chist.created_at.strftime("%d-%m-%y")
          .timestamp= chist.created_at.strftime("%H:%M")