%h2.chist-header
  ="#{current_user.name}/#{chist.title}"
  - if current_user && current_user.id == chist.user_id
    %a{href: "/chists/#{chist.id}/edit"}=I18n.t('chists.edit')
%h3.chist-title
  - unless chist.public
    %img{src: "/img/private.png", alt: I18n.t('chists.private_chist'), title: I18n.t('chists.private_chist')}
  = chist.title

%div.chist-chat{class: "chist-format-#{chist.format} chist-theme-default"}
  =chist.chist
