.row.chist-top-bar
  %h3.chist-header.col-md-8
    - unless chist.public
      %img{src: "/img/private.png", alt: I18n.t('chists.private_chist'), title: I18n.t('chists.private_chist')}
    ="#{chist.user.name}/#{chist.title}"
  - if current_user && current_user.id == chist.user_id
    .col-md-4.h2
      %form{action: "/chists/#{chist.id}", id: "delete-chist-form", method: 'POST', class: 'pull-right'}
        %button.btn.btn-danger.btn-sm{type: 'submit', :style => "position: relative; top: -5px;"}=I18n.t('chists.delete')
        %input{type: 'hidden', name: '_method', value: 'DELETE'}
      %a.btn.btn-primary.btn-sm.pull-right{href: "/chists/#{chist.id}/edit"}=I18n.t('chists.edit')
      %form.form-horizontal#favorite-wrapper.pull-right{ action: "/chists/#{chist.id}/favorite", method: "POST" }
        %input{ type: "hidden", name: "_method", value: "PUT" }
        %button.btn.btn-info.btn-sm{ type: "submit" }
          %span.glyphicon.glyphicon-star{ :class => current_user.favorited?(chist) ? 'favorited' : 'no-favorited'}
          Favorite

.row
  .col-md-9
    .panel.panel-primary.chist-panel
      .panel-heading
        %h3.panel-title=chist.title
      .panel-body
        = partial("chists/_chist", :chist => chist)
  .col-md-3
    .panel.panel-info
      .panel-heading
        %h3
      .panel-body
        .form-group
          %label.control-label
            Chist URL
          %input.form-control.input-sm{ value: "#{ENV['SITE_URL']}/chists/#{chist.id}" }
        .form-group
          %label.control-label
            =I18n.t('.chists.lines')
          .form-control= chist.chist_raw.lines.count
        %br
        .form-group
          %a.form-control.btn.btn-sm.btn-success{ href: "/chists/#{chist.id}/raw" }
            =I18n.t('.chists.actions.download')
